/*General Misc. CSS*/
body
{
    background-color: blue;
    color: white
}



/*Introduction  CSS*/
.introduction
{ 
   display: flex; 
   justify-content: center;
   align-content: center;
   text-align: center;
   height: 100vh;
   width: 100vw;
    
}



#intro-grid-container
{
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}



.introduction-card
{
    grid-area: 1/1/1/1; 
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: white; 
    font-style:italic;
    font-size: 3rem;
}


#introduction-box
{
   width: 80vw;
   z-index: 100;
}


#instruction-box
{
    width: 60vw;
    padding: 100px;
    z-index: 99;
}



/*Simon Says CSS*/

.simon-says-game
{
    display: flex; 
    justify-content: center;
    align-items: center;
}

h1
{
    margin: 0px; 
    padding: 0px; 
}
#simon-says-grid-container
{
    display: grid;
    grid-template-rows:    100px 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px; 
}

.background-simon-says-box
{
    display: flex; 
    justify-content: center;
    align-content: center;
    background-color: white;
    width: 200px; 
    height: 200px;
    margin-left: 45px;
}

.simon-says-instrucion-flex
{
    grid-area: 1/1/1/6; 
    display: flex; 
    justify-content: center;
    align-content: center;
    margin-left: 100px;
    gap: 50px;  
}

#timer
{
    
    font-size: 24px;
}
#simon-says-instructions
{
    text-align: center;
    color: white;
    font-size: 2rem;

}



.simon-says-box
{
    width: 185px; 
    height: 185px; 
    align-self: center;
}


.green
{
   grid-area: 2/2/3/3;  
}

.red
{
  grid-area: 2/3/3/4; 
}
.yellow
{
  grid-area: 3/2/4/2;
}
.pink
{
  grid-area: 3/3/4/3;
}

#green-box
{
   
   background-color: greenyellow;
}

#red-box
{
    
    background-color: red;
}

#yellow-box
{
    
    background-color: yellow;
}

#pink-box
{
    
    background-color: rgb(255, 147, 255);
}




@keyframes blink
{
    0%
    {
       
    }
    50%
    {
       background-color: black;
    }


}

@keyframes click
{
    0%
    {

    }
    50%
    {
        background-color: white;
    }
}

.the-flash
{
    animation-name: blink; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.the-press
{
    animation-name: click;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}



